<div class = "container">
    <h2>
        Employee records:
    </h2>
    <div class = "content">
        <div class = "columns">
            <span class = "c1">employee_id</span>
            <span class = "c2">first_name</span>
            <span class = "c3">last_name</span>
            <span class = "c4">email</span>
            <span class = "c5">phone_number</span>
            <span class = "c6">hire_date</span>
            <span class = "c7">job_id</span>
            <span class = "c8">salary</span>
            <span class = "c9">commision_pct</span>
            <span class = "c10">manager_id</span>
            <span class = "c11">department_id</span>
        </div>
        <div class = "rows" *ngFor="let item of e">
            <span class = "c1">{{item.employee_id}}</span>
            <span class = "c2">{{item.first_name}}</span>
            <span class = "c3">{{item.last_name}}</span>
            <span class = "c4">{{item.email}}</span>
            <span class = "c5">{{item.phone_number}}</span>
            <span class = "c6">{{item.hire_date | date:'shortDate'}}</span>
            <span class = "c7">{{item.job_id}}</span>
            <span class = "c8">{{item.salary}}</span>
            <span class = "c9" *ngIf="item.commission_pct">{{item.commission_pct}}</span>
            <span class = "c10">{{item.manager_id}}</span>
            <span class = "c11">{{item.department_id}}</span>
        </div>
    </div>
    <h2>
        Add employee:
    </h2>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <table>
                <tr>
                    <td>Employee Id</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <tr>
                    <td>First name</td>
                    <td><input type="text" required ngModel name="2" #2="ngModel"></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td><input type="text" required ngModel name="3" #3="ngModel"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" required ngModel name="4" #4="ngModel"></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td><input type="text" required ngModel name="5" #5="ngModel"></td>
                </tr>
                <tr>
                    <td>Hire date</td>
                    <td><input type="text" required ngModel name="6" #6="ngModel"></td>
                </tr>
                <tr>
                    <td>Job id</td>
                    <td><input type="text" required ngModel name="7" #7="ngModel"></td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" required ngModel name="8" #8="ngModel"></td>
                </tr>
                <tr>
                    <td>Commission pct</td>
                    <td><input type="text" required ngModel name="9" #9="ngModel"></td>
                </tr>
                <tr>
                    <td>Manager id</td>
                    <td><input type="text" required ngModel name="10" #10="ngModel"></td>
                </tr>
                <tr>
                    <td>Department id</td>
                    <td><input type="text" required ngModel name="11" #11="ngModel"></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
    <h2>
        Delete record by typing id below:
    </h2>
    <div class="container">
        <form #t="ngForm" (ngSubmit)="onSubmitt(t)">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
</div>
