<div class = "container">
    <h2>
        Job history records:
    </h2>
    <div class = "content">
        <div class = "columns">
            <span class = "c1">employee_id</span>
            <span class = "c2">start_date</span>
            <span class = "c3">end_date</span>
            <span class = "c4">job_id</span>
            <span class = "c5">department_id</span>
        </div>
        <div class = "rows" *ngFor="let item of jh">
            <span class = "c1">{{item.jobHistoryId.employee_id}}</span>
            <span class = "c2">{{item.jobHistoryId.start_date | date:'shortDate'}}</span>
            <span class = "c3">{{item.end_date | date:'shortDate'}}</span>
            <span class = "c4">{{item.job_id}}</span>
            <span class = "c5">{{item.department_id}}</span>
        </div>
    </div>
    <h2>
        Add Job history:
    </h2>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <table>
                <tr>
                    <td>Start date</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <tr>
                    <td>Employee id</td>
                    <td><input type="text" required ngModel name="2" #2="ngModel"></td>
                </tr>
                <tr>
                    <td>End date</td>
                    <td><input type="text" ngModel required name="3" #3="ngModel" ></td>
                </tr>
                <tr>
                    <td>Job id</td>
                    <td><input type="text" required ngModel name="4" #4="ngModel"></td>
                </tr>
                <tr>
                    <td>Department id</td>
                    <td><input type="text" ngModel required name="5" #5="ngModel" ></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
    <h2>
        Delete record by typing id below:
    </h2>
    <div class="container">
        <form #t="ngForm" (ngSubmit)="onSubmitt(t)">
            <table>
                <tr>
                    <td>Start date</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <tr>
                    <td>Employee id</td>
                    <td><input type="text" ngModel required name="2" #2="ngModel" ></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
</div>
