<div class = "container">
    <h2>
        Country records:
    </h2>
    <div class = "content">
        <div class = "columns">
            <span class = "c1">country_id</span>
            <span class = "c2">country_name</span>
            <span class = "c3">region_id</span>
        </div>
        <div class = "rows" *ngFor="let item of c">
            <span class = "c1">{{item.country_id}}</span>
            <span class = "c2">{{item.country_name}}</span>
            <span class = "c3" *ngIf="item.region_id">{{item.region_id}}</span>
        </div>
    </div>
    <h2>
        Add country:
    </h2>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <table>
                <tr>
                    <td>Country Id</td>
                    <td><input type="text" id="country_id" ngModel required name="first" #first="ngModel" ></td>
                </tr>
                <tr>
                    <td>Country name</td>
                    <td><input type="text" id="country_name" required ngModel name="second" #s="ngModel"></td>
                </tr>
                <tr>
                    <td>Region id</td>
                    <td><input type="text" id="region_id" required ngModel name="third" #third="ngModel"></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
    <h2>
        Delete record by typing id below:
    </h2>
    <div class="container">
        <form #t="ngForm" (ngSubmit)="onSubmitt(t)">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
</div>
