<div class = "container">
    <h2>
        Job records:
    </h2>
    <div class = "content">
        <div class = "columns">
            <span class = "c1">job_id</span>
            <span class = "c2">job_title</span>
            <span class = "c3">min_salary</span>
            <span class = "c4">max_salary</span>
        </div>
        <div class = "rows" *ngFor="let item of j">
            <span class = "c1">{{item.job_id}}</span>
            <span class = "c2">{{item.job_title}}</span>
            <span class = "c3">{{item.min_salary}}</span>
            <span class = "c4">{{item.max_salary}}</span>
        </div>
    </div>
    <h2>
        Add Job:
    </h2>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <table>
                <tr>
                    <td>Job Id</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <tr>
                    <td>Job name</td>
                    <td><input type="text" required ngModel name="2" #2="ngModel"></td>
                </tr>
                <tr>
                    <td>Min salary</td>
                    <td><input type="text" required ngModel name="3" #3="ngModel"></td>
                </tr>
                <tr>
                    <td>Max salary</td>
                    <td><input type="text" required ngModel name="4" #4="ngModel"></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
    <h2>
        Delete record by typing id below:
    </h2>
    <div class="container">
        <form #t="ngForm" (ngSubmit)="onSubmitt(t)">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
</div>
