<div class = "container">
    <h2>
        Region records:
    </h2>
    <div class = "content">
        <div class = "columns">
            <span class = "c1">region_id</span>
            <span class = "c2">region_name</span>
        </div>
        <div class = "rows" *ngFor="let item of r">
            <span class = "c1">{{item.region_id}}</span>
            <span class = "c2">{{item.region_name}}</span>
        </div>
    </div>
    <h2>
        Add region:
    </h2>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <table>
                <tr>
                    <td>Region id</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <tr>
                    <td>Region name</td>
                    <td><input type="text" required ngModel name="2" #2="ngModel"></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
    <h2>
        Delete record by typing id below:
    </h2>
    <div class="container">
        <form #t="ngForm" (ngSubmit)="onSubmitt(t)">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="text" ngModel required name="1" #1="ngModel" ></td>
                </tr>
                <button>Submit</button>
            </table>
        </form>
    </div>
</div>
