<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
<div>
  <h1>Oracle Database Manager</h1>
  <nav>
    <div>
      <a routerLink="/employee" routerLinkActive="active">Employee</a>
      <a routerLink="/departments" routerLinkActive="active">Departments</a>
      <a routerLink="/jobs" routerLinkActive="active">Jobs</a>
      <a routerLink="/job-history" routerLinkActive="active">Job History</a>
      <a routerLink="/locations" routerLinkActive="active">Locations</a>
      <a routerLink="/regions" routerLinkActive="active">Regions</a>
      <a routerLink="/countries" routerLinkActive="active">Countries</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>